/* #region Variables */
:root {
  /* Fonts */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  /* Colors */
  --primary-brand-cl: #4d5ae5;
  --pressed-state-cl: #404bbf;
  --dark-cl: #2e2f42;
  --success-cl: #31d0aa;
  --text-cl: #434455;
  --subtle-text-cl: #8e8f99;
  --accent-cl: #e7e9fc;
  --light-cl: #f4f4fd;
  --modal-overlay-cl: rgba(46, 47, 66, 0.4);
  --hero-bg-cl: rgba(46, 47, 66, 0.7);
  --white-bg-cl: #fff;
  --modal-bg-cl: #fcfcfc;
}
/* #endregion Variables */

/* #region Base-Styles */
body {
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-cl);
  background-color: var(--white-bg-cl);

  /* Default values */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}
/* #endregion Base-Styles */

/* #region Common-Styles */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion Common-Styles */

/* #region Header */
.logo {
  color: var(--dark-cl);
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-accent {
  color: var(--primary-brand-cl);
}

.nav-items {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--dark-cl);
}
/* #endregion Header */

/* #rerion Hero */
.hero {
  background-color: var(--dark-cl);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-bg-cl);
}

.hero-btn {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--primary-brand-cl);
  color: var(--white-bg-cl);
}
/* #endrerion Hero */

/* #region Benefits */
/* #endregion Benefits */

/* #region Our-Team */
/* #endregion Our-Team */

/* #region Our-Portfolio */
/* #endregion Our-Portfolio */

/* #region Footer */
/* #endregion Footer */

/* .raleway {
  font-optical-sizing: auto;
} */
